* {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #20208e;
}

/* Menu */
.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.menu {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    color: unset;
    text-decoration: none;
    color: #20208e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.menu .btn-cta {
    background-color: #009fdd;
    color: white !important;
    padding: 8px 50px;
    border-radius: 25px;
}

/* Banner */

.banner-palermo {
    height: calc(100vh - 120px);
    overflow: hidden;
}

.banner-palermo .carousel-caption {
   text-align: left;
   right: unset;
   left: 15%;
   top: 40%;
   transform: translate(0%, -50%);
   bottom: unset;
   margin: 0;
   padding: 0;
}

.banner-palermo .carousel-caption p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.banner-palermo .carousel-caption h5 {
    font-size: 54px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

.banner-palermo .carousel-caption .btn-cta {
    background-color: #009fdd;
    text-transform: uppercase;
    color: white !important;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
}

.cta-phone {
    height: 80px;
    width: 80px;
    position: absolute;
    top: -40px;
    right: 0;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.business-card-header {
    background-color: #009fdd;
    display: block;
    width: 350px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 16px;
}

.business-card-header p {
    margin: 0;
}

.business-card {
    display: inline-block;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* Histortias de Exito */
.story-item {
    display: flex;
    text-align: left;
}

.story-item__detail {
    width: 50%;
    margin-right: 40px;
}

.story-item__detail .title {
    font-size: 20px;
    color: #009fdd;
}

.story-item__detail .subtitle {
    font-size: 16px;
    color: #20208e;
    text-transform: uppercase;
} 

.story-item__detail .text {
    font-size: 14px;
    color: #444444;
}

.story-item__image {
    width: 50%;

}
